<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ChamadosTecnicos51WinApp.Properties.Settings.Conexao"
            connectionString="Data Source=DL-R\SQLEXPRESS;Initial Catalog=orcamento_tecnicos;Integrated Security=True" />
    </connectionStrings>
</configuration>